asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
colorama==0.4.4
comtypes==1.1.11
cryptography==36.0.2
distlib==0.3.4
Django==3.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.4
djangorestframework==3.13.1
filelock==3.6.0
idna==3.3
iniconfig==1.1.1
model-bakery==1.4.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.0
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pycparser==2.21
PyMySQL==1.0.2
pyparsing==3.0.7
pypiwin32==223
pytest==7.1.1
pytest-html==3.1.1
pytest-metadata==2.0.1
pyttsx3==2.90
pytz==2021.3
pywin32==304
requests==2.27.1
six==1.16.0
SpeechRecognition==3.8.1
sqlparse==0.4.2
tomli==2.0.1
tzdata==2021.5
urllib3==1.26.8
virtualenv==20.13.2
